* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

header {
  background: #000;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: gold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
}

nav a:hover {
  color: gold;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #000, #111);
}

.hero h1 {
  font-size: 50px;
  color: gold;
}

.hero p {
  margin-top: 15px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  border: 1px solid gold;
  color: gold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: gold;
  color: black;
}

.section {
  padding: 80px 8%;
  text-align: center;
}

.section h2 {
  color: gold;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: #111;
  padding: 30px;
  width: 300px;
  border: 1px solid #222;
  transition: 0.3s;
}

.card:hover {
  border: 1px solid gold;
  transform: translateY(-5px);
}

footer {
  padding: 30px;
  text-align: center;
  border-top: 1px solid gold;
  margin-top: 50px;
}
